# Handling Imbalance Datasets

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Set the random seed for reproducibility
np.random.seed(123)

# create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [3]:
n_class_0, n_class_1

(900, 100)

In [9]:
# Create the dataframe with imbalanced dataset
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [10]:
df = pd.concat([class_0, class_1], axis=0)

In [11]:
df

    feature_1  feature_2  target
0   -1.774224   0.285744       0
1   -1.201377   0.333279       0
2    1.096257   0.531807       0
3    0.861037  -0.354766       0
4   -1.520367  -1.120815       0
..        ...        ...     ...
95   0.677156  -0.907952       1
96   0.963404  -1.818045       1
97  -0.378524  -0.122733       1
98   1.429559   1.794486       1
99   1.532273  -0.320510       1

[1000 rows x 3 columns]

In [12]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

## Upsampling

In [13]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [15]:
from sklearn.utils import resample

In [16]:
df_minority_upsampled = resample(df_minority, replace=True,
        n_samples=len(df_majority),
        random_state=42
         )

In [17]:
df_minority_upsampled.shape

(900, 3)

In [18]:
df_minority_upsampled.head()

    feature_1  feature_2  target
51   0.905343  -0.504849       1
92   0.000977  -0.185167       1
14  -0.072043   0.280911       1
71   0.819483   0.964646       1
60   0.456515  -0.166472       1

In [19]:
df_upsampled = pd.concat([df_majority, df_minority_upsampled], axis=0)

In [20]:
df_upsampled

    feature_1  feature_2  target
0   -1.774224   0.285744       0
1   -1.201377   0.333279       0
2    1.096257   0.531807       0
3    0.861037  -0.354766       0
4   -1.520367  -1.120815       0
..        ...        ...     ...
52  -0.233356  -0.467775       1
65  -0.472670   0.182477       1
76   0.463277  -1.204384       1
42   0.930412  -0.932647       1
74  -0.133168   0.723282       1

[1800 rows x 3 columns]

In [21]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

## Downsampling

In [22]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [23]:
df_majority_downsampling = resample(
    df_majority,
    replace=False,
    n_samples=len(df_minority),
    random_state=42
)

In [24]:
df_majority_downsampling.shape

(100, 3)

In [25]:
df_majority_downsampling.head()

     feature_1  feature_2  target
70    0.786057   0.830076       0
827  -0.859775   0.174732       0
231  -0.012870  -0.735348       0
588  -0.297331  -0.351224       0
39    0.528702   1.508257       0

In [26]:
df_downsampled = pd.concat([df_minority, df_majority_downsampling], axis=0)

In [27]:
df_downsampled['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64